<style>

.container0 {
  background-color: rgb(0, 0, 0);
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgb(255, 255, 255);
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #e2bd45, rgba(255, 153, 0, 0.849));
  border-radius: 30px;
  transition: .3s;
  color: aliceblue;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 10px 35px;
  outline: none;
  width: 100%;
  border-style: solid;
}

button[type="submit"] {
  background: rgb(255, 196, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 40px;
}

.iPassword {
  top: 114px;
}

.iPassword2 {
  top: 190px;
}
</style>
<div class="container0">
        <div class="buttonsForm">
            <div class="btnColor"></div>
            <button id="btnSignin">Sign in</button>
            <button id="btnSignup">Sign up</button>
        </div>

        <form id="signin" method="post">
            <input type="text" placeholder="Email" id="email" required />
            <i class="fas fa-envelope iEmail"></i>
            <input type="password" placeholder="Password" id="senha" required />
            <i class="fas fa-lock iPassword"></i>
            <div class="divCheck">
                <input type="checkbox" />
                <span>Remember Password</span>
            </div>
        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Login">Inscreva-se</a>
        </form>

        <form method="post" action="/Home/Validar">
    <input type="text" id="txtEmail" name="email" placeholder="Email" />
    <input type="password" id="txtSenha" name="senha" placeholder="Senha" />
    <button type="submit" class="btn btn-secondary">Inscreva-se</button>
</form>
    </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var formSignin = document.querySelector('#signin')
    var formSignup = document.querySelector('#signup')
    var btnColor = document.querySelector('.btnColor')

    document.querySelector('#btnSignin')
        .addEventListener('click', () => {
            formSignin.style.left = "25px"
            formSignup.style.left = "450px"
            btnColor.style.left = "0px"
        })

    document.querySelector('#btnSignup')
        .addEventListener('click', () => {
            formSignin.style.left = "-450px"
            formSignup.style.left = "25px"
            btnColor.style.left = "110px"
        })

    function Validar() {
        debugger;
        let email = document.getElementById("email").value;
        let senha = document.getElementById("senha").value;

        $.ajax({
            type: "POST",
            url: "/Home/Validar",
            data: { email: email, senha: senha },
            success: function (data) {
                console.log("Success")
            },
            error: function (xhr, status, error) {
                console.log("readyState: " + xhr.readyState);
                console.log("responseText: " + xhr.responseText);
                console.log("status: " + xhr.status);
                console.log("text status: " + status);
                console.log("error: " + error);
            }
        });
    }

</script>